html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100vh;
}


footer {
    border: 1px solid;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 5vw;
}