div{    
    height: 700px;
    width: 405px;
    margin: auto;
    padding: 2px;
    
    
}


body{
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}

a{
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    text-align: center;
    
}
